<div class="container">
  <div class="search-container" [ngStyle]="{marginTop: searchResults['content'] || searchResults['products'] || loading ? '3rem' : '10rem'}">
    <h1 *ngIf="!searchResults['content'] && !searchResults['products'] && !loading">Ask query about a product</h1>
    <div class="search-wrapper">
      <input type="text" [(ngModel)]="productName" placeholder="Enter query...">
      <button (click)="searchProduct()" [disabled]="loading">Search</button>
    </div>
  </div>

  @if(loading) {
    <div class="text">Loading products...</div>
  } @else if(!isEmpty(searchResults)) {
    <div class="results">
      <div class="content">{{ searchResults['content'] }}</div>
      <div class="products">
        @for(product of searchResults['products']; track product) {
          <div>
            <div class="product" (click)="openLink(product['link'])">
              <div class="img-wrapper">
                <img [src]="product['image']" alt="Product Image">
              </div>
              <h4>{{ product['name'] }}</h4>
              <p>Rating: {{ product['rating'] }}</p>
            </div>
          </div>
        }
      </div>
    </div>
  } @else {
    <div class="text">Try asking "Suggest me some pants options" or "Best jeans for men"</div>
  }
</div>